.admin-inventory-management{
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.inventory-quick-panel{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    position: relative;
    row-gap: 1rem;
}
.inventory-stock-value{
    font-size: 2rem;
    margin-top: 0.25rem;
    padding: 0.5rem 2rem;
    text-align: center;
}
.inventory-first-section{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 1rem;
}
.upcoming-expiration-panel{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: white;
    padding: 1rem;
}
.sort-opt{
    padding: 0.25rem 1rem;
    background-color: #D9D9D9;
}
.inventory-item-container{
    background-color: white;
    padding: 1rem;
    width: calc(100% + 1rem);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.purchased-history-panel{
    width: calc(100% + 1rem);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: white;
    padding: 1rem;
}