.admin-audit-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.audit-log-header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border: 2px solid;
    border-radius: 1rem;
}
.audit-log-header-title{
    margin-bottom: 0.25rem;
}