.homepage-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #295457, #60d9d9);
    padding: 1rem 7.5% 0;
}
.hero-main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color: #000000;
    padding-inline: 3rem;
}
.call-to-action-container{
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}
.call-to-action-container > *{
    width: 25%;
}
.hero-main-intro-text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.call-to-action-item{
    color: black;
    padding: 2.5rem 1rem 1rem;
    background-color: #f3f3f3;
    position: relative;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    max-width: 20rem;
}
.call-to-action-icon-wrapper{
    display: flex;
    background-color: #295457;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call-to-action-main{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 11rem;
}
.call-to-action-btn{
    background-color: #295457;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    border-bottom-right-radius: 5rem;
}
.homepage-service-wrapper{
    width: 100%;
    background: linear-gradient(to bottom, #60d9d9, #295457);
}
.homepage-service{
    padding: 1rem 10%;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}
.service-item-container{
    padding: 1rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}
.service-item-container:has(.service-item:hover){
    background-color: #295457;
    border-color: transparent;
    transform: scale(1.01);
}
.service-item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #cbfafa;
    row-gap: .5rem;
}
.service-item > img{
    width: 100%;
}
.patient-visitor-information{
    background: linear-gradient(to bottom, #60d9d9, #295457);
}
.patient-visitor{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-inline: 25%;
}
.patient-visitor-item{
    width: 100%;
    border: 1px solid white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #295457;
    column-gap: 2rem;
}
.patient-visitor-item:nth-child(even){
    flex-direction: row-reverse;
}
.patient-visitor-item > img{
    width: 20%;
}
.homepage-about-wrapper{
    background: linear-gradient(to bottom, #295457, #60d9d9);
    display: flex;
    padding-inline: 10%;
    column-gap: 3rem;
    justify-content: space-between;
}
.homepage-about{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
}
.homepage-about p{
    color: white;
}
.homepage-about > *:last-child > p{
    color: black;
}
.homepage-about-wrapper > img{
    width: 50%;
}
.about-info{
    margin-left: 1rem;
    color: white;
    font-size: 1.25rem;
    background-color: black;
    padding: 0.25rem 1rem;
}
.homepage-about > *:last-child .about-info{
    border-block: 4px solid yellow;
}
.call-to-action-btn{
    width: 100%;
}
.call-to-action-icon-wrapper > *{
    color: white;
}

/*Responsive styles*/
@media screen and (max-width: 1200px) {
    .homepage-hero{
        padding-inline: 1rem;
    }
    .homepage-service{
        padding-inline: 5%;
    }
    .map-location{
        display: none;
    }
    .homepage-about-wrapper{
        display: flex;
        justify-content: center;
    }
    .homepage-about{
        width: fit-content;
    }
    .patient-visitor{
        padding-inline: 15%;
    }
}
@media screen and (max-width: 1100px) {
    .homepage-hero{
        min-height: 1000px;
    }
    .call-to-action-container{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        row-gap: 2.5rem;
    }
    .call-to-action-container > *{
        width: 100%;
    }
    .homepage-service{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }
    .patient-visitor{
        padding-inline: 10%;
        margin: 0;
        padding-block: 1rem;
    }
    .footer-links-wrapper{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .footer-links-wrapper > *{
        width: calc(50% - 1rem);
        align-items: center;
    }
    .footer-subscribe-form{
        min-width: 100%;
    }
    .footer-links-wrapper{
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .homepage-hero{
        padding: 3rem 0;
        min-height: 1500px;
        height: fit-content;
    }
    .call-to-action-container{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
    .call-to-action-item{
        max-width: 100%;
    }
    .call-to-action-main{
        min-height: fit-content;
        row-gap: 2rem;
    }
    .patient-visitor-information{
        padding-inline: 2rem;
    }
    .patient-visitor{
        padding: 1rem 0;
    }
    .patient-visitor-item > img{
        width: 30%;
    }
    .root-nav-links > .nav-links:last-child{
        display: none;
    }
    .nav-links{
        font-size: 0.9rem;
    }
    .footer-links-wrapper > *{
        align-items: center;
        width: 100%;
    }
    .chat-help-wrapper{
        visibility: hidden;
    }
}
@media screen and (max-width: 500px) {
    .nav-links{
        font-size: .7rem;
    }
    .root-nav{
        padding: 0;
    }
    .about-info{
        display: block;
    }
    .patient-visitor-img{
        display: none;
    }
    .patient-visitor-item{
        width: 100%;
    }
    .patient-visitor-item > *{
        width: 100%;
    }
    .footer-copyright{
        display: none;
    }
    .footer-end{
        justify-content: space-between;
    }
    .nav-links:not(:first-child){
        display: none;
    }
}